@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.purple {
  color: #6415ff;
}
.grey {
  color: #7c8ba1;
}
.green {
  color: #243e63;
}
.container {
  padding: 96px 0;
}
img {
  width: 100%;
}
nav {
  display: flex;
  padding-top: 24px;
}

li {
  list-style: none;
}

.row {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  transition: all 300ms;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  padding: 16px 32px;
}

.btn__menu--drop {
  cursor: pointer;
  transition: all 300ms;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  padding: 16px 32px;
  color: #fff !important;
}

.btn {
  background-color: #6415ff;
  color: #fff;
}
/*

NAV

*/

.nav__img--link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #243e63;
  font-weight: 900;
  font-size: 24px;
}
.nav__img {
  width: 50px;
  padding-right: 8px;
}
.nav__list {
  margin: 0 24px;
  font-weight: 700;
  color: #243e63;
  font-size: 14px;
  transition: all 300ms;
}
.nav__list--primary {
  background-color: #6415ff;
  color: #fff;
  padding: 12px 32px;
  border-radius: 24px;
}
.nav__list:hover {
  color: rgb(75, 75, 223);
  text-decoration: underline;
}
.nav__list--primary:hover {
  background-color: rgb(31, 31, 207);
  color: #fff;
}

.btn__menu--color {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #243e63;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #fff;
}

.menu__links {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: #7c8ba1;
}
/*

MAIN

*/
#landing {
  height: 100vh;
}

.main__description {
  width: 50%;
}
.main__picture {
  width: 50%;
}

.main__title {
  font-size: 48px;
  max-width: 500px;
}
.main__para {
  margin: 32px 0;
  color: #243e63;
  max-width: 550px;
  font-size: 18px;
  line-height: 1.5;
}
.mail__btn--wrapper {
  position: relative;
  max-width: 430px;
}

input {
  padding: 24px 192px 24px 32px;
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid darkgray;
  opacity: 1;
  opacity: 0.5;
  transition: all 300ms;
}

input:hover {
  opacity: 1;
}
input::placeholder {
  color: darkgray;
  font-size: 16px;
  opacity: 0.7 !important;
}

.btn__main {
  position: absolute;
  top: 7px;
  right: 30px;
  font-weight: 700;
}

.btn:hover {
  background-color: rgb(31, 31, 207);
}

.main__sub-para {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  margin-top: 80px;
}
.main__img {
  margin: 16px 0;
  padding: 0 128px 0 0;
  width: 500px;
  opacity: 0.7;
}

/*

FEATURES

*/

.features__wrapper {
  display: flex;
  flex-direction: column;
}
.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features__para {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
}
.features__title {
  font-size: 48px;
  color: #243e63;
  margin: 24px 0 28px 0;
}
.features__sub-para {
  font-size: 18px;
  color: #7c8ba1;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  max-width: 540px;
}
.features__section {
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.features__section--wrapper {
  width: 33%;
  padding: 24px;
}
.features__section-title--wrapper {
  display: flex;
}
.features__section--img {
  width: 70px;
  padding: 20px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 50%;
}
.features__section--title {
  font-size: 24px;
  font-weight: 700;
  color: #243e63;
  margin: 8px 0 0 12px;
}
.features__section--para {
  margin-left: 80px;
  line-height: 2;
  font-weight: 500;
  font-size: 16px;
  max-width: 200px;
}

/*

RECENT

*/
.recent {
  display: flex;
}
.recent__description {
  width: 50%;
}
.recent__description--title {
  font-weight: 700;
  font-size: 16px;
}
.recent__description--sub-title {
  font-size: 48px;
  margin: 16px 0 0 0;
  max-width: 550px;
}
.recent__description--para {
  font-size: 18px;
  margin-top: 16px;
  line-height: 1.7;
  font-weight: 500;
  text-align: left;
  max-width: 550px;
}
.btn__recent {
  margin-top: 32px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 700;
}
.recent__img--wrapper {
  width: 50%;
  display: flex;
}
.recent__img {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  width: 100%;
}

/*

STEPS

*/
.steps__wrapper {
  display: flex;
}

.steps {
  display: flex;
}
.steps__img--wrapper {
  display: flex;
  width: 50%;
}
.steps__img {
  width: 100%;
}
.steps__description {
  width: 50%;
  margin-left: 64px;
}
.steps__description--title {
  font-weight: 700;
  font-size: 16px;
}
.steps__description--sub-title {
  font-size: 48px;
  margin-top: 16px;
}

.steps__description--num-wrapper {
  display: flex;
  margin-top: 32px;
}
.steps__description--num-title {
  font-size: 36px;
}
.steps__description--num--sub-title {
  font-size: 20px;
}
.steps__description--num {
  margin-left: 24px;
}
.steps__description--num-para {
  font-size: 14px;
  margin-top: 12px;
  line-height: 2;
  max-width: 300px;
  font-weight: 500;
}

/*

VALUES

*/

.recent__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.recent__price--fast {
  display: flex;
}
.recent__price--i {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #9ae6b4;
  border-radius: 50%;
  border: none;
}
.recent__price--i2 {
  background-color: #feb2b2;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 50%;
}

.recent__price--title {
  margin-left: 12px;
}
.recent__price--para {
  margin-top: 16px;
  line-height: 1.5;
}
.btn__recent--price {
  margin-top: 48px;
}
.recent__img--price-wrapper {
  width: 50%;
}

/*

PRICING

*/

.pricing {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.pricing__plans {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 40px;
  align-items: center;
}

.pricing__personal {
  width: calc(100% / 3);
  height: 100%;
  margin: 24px;
}
.pricing__personal--border {
  width: 100%;
  height: 10px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-radius: 4px 4px 0 0;
}
.pricing__personal--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}
.personal__title,
.personal__sub-title,
.personal__para {
  text-align: center;
}

.personal__title {
  font-size: 20px;
}
.personal__sub-title {
  font-size: 48px;
  margin: 4px 0;
}
.personal__para {
  font-size: 16px;
  margin: 16px 0;
  font-weight: 500;
}
.pricing__personal--title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid gray;
}
.pricing__personal--title,
.pricing__personal--title2,
.personal__btn {
  border-bottom: 1px solid gray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.personal__title--2 {
  padding-top: 16px;
}
.personal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn__price:hover {
  transform: translatey(-5px);
}
.btn__price:active {
  transform: translateY(1px);
}
.btn__price {
  margin: 32px;
  padding: 16px 64px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(
    to right,
    #00bea0,
    #3bc8aa,
    #57d2b4,
    #6edcbe,
    #83e6c9
  );
}

/*

TESTIMONIALS

*/
.test {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test__img--wrapper {
  width: 50%;
}
.test__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.test__description--title {
  font-size: 16px;
  letter-spacing: 2px;
}

.test__description--sub-title {
  font-size: 48px;
  margin-top: 16px;
}
.test__description--para {
  font-size: 18px;
  margin-top: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.test__review {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.test__review--star {
  color: goldenrod;
}
.test__review--title {
  font-size: 20px;
  margin-top: 16px;
}
.test__review--para {
  line-height: 1.5;
  margin-top: 16px;
  font-weight: 500;
}
.test__personal {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.personal__img--wrapper {
  width: 100px;
  height: 100px;
}
.personal__img {
  border-radius: 50%;
  padding: 5px;
}
.test__personal--words {
  display: flex;
  margin: 0 24px;
  justify-content: center;
  flex-direction: column;
}
.test__personal--para {
  font-weight: 500;
  margin-top: 8px;
}

/*

CONTACTS

*/

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6415ff;
  width: 100%;
  height: 280px;
  border-radius: 12px;
}
.contact__title {
  color: #fff;
  font-size: 30px;
  max-width: 550px;
  line-height: 1.5;
}
.contact__btn {
  padding: 20px 40px;
  background-color: #f56565;
  transition: all 300ms;
  font-weight: 700;
  color: #fff;
}
.contact__btn:hover {
  background-color: red;
}
.btn__white {
  margin-left: 32px;
  border: 1px solid;
  background-color: #6415ff;
  color: #fff;
  padding: 20px 40px;
  transition: all 300ms;
  font-weight: 700;
}
.btn__white:hover {
  background-color: #fff;
  color: #6415ff;
}

/*

FOOTER

*/

.footer {
  background-color: #6415ff;
  display: flex;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(200, 196, 196);
}
.footer__flex {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
}
.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 48px;
}
.footer__section--title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.footer__section--para {
  font-size: 14px;
  margin-top: 12px;
  color: #fff;
  font-weight: 500;
}
.footer__section--para:first-of-type {
  margin-top: 24px;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.img__wrapper {
  display: flex;
  align-items: center;
}
.footer__img {
  width: 40px;
  filter: grayscale();
}
.footer__name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-left: 8px;
}
.copyright__para {
  font-weight: 500;
  color: #cbd5e0;
}

.social-1 {
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 8px;
}

/*

RESPONSIVE

*/

@media (max-width: 1240px) {
  .nav__lists {
    display: none;
  }

  .btn__menu--color {
    display: flex;
  }
  .container {
    padding: 40px;
  }
  .row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__title {
    font-size: 30px;
    text-align: center;
  }
  .main__para {
    font-size: 16px;
    margin: 20px;
    text-align: center;
  }

  input {
    max-width: 300px;
    padding: 24px 192px 24px 32px;
  }

  .mail__btn--wrapper {
    max-width: 300px;
  }

  .btn__main {
    width: 100%;
    position: static;
    margin: 16px 0;
    padding: 16px;
  }

  .main__picture {
    width: 100%;
  }

  .features__title {
    text-align: center;
    font-size: 30px;
  }

  .features__para {
    font-size: 14px;
    text-align: center;
  }

  .features__sub-para {
    font-size: 14px;
  }

  .features__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features__section-title--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features__section--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .features__section--para {
    font-size: 14px;
    line-height: 2;
    width: 150px;
    margin-left: 170px;
  }

  .recent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recent__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recent__img--wrapper {
    margin-top: 24px;
    width: 100%;
  }

  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__img--wrapper {
    width: 100%;
  }

  .steps__description {
    margin-top: 24px;
    text-align: center;
  }

  .steps__description--num-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .steps__description--num {
    margin-left: 0;
  }

  .steps__description--num-para {
    max-width: 500px;
    line-height: 2;
  }

  .recent__description--sub-title {
    font-size: 30px;
    text-align: center;
  }

  .recent__description--para {
    text-align: center;
  }

  .recent__price {
    display: flex;
    flex-direction: column;
  }

  .recent__price--fast {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .recent__price--para {
    text-align: center;
  }

  .recent__img--price-wrapper {
    width: 100%;
    margin-top: 32px;
  }

  .pricing__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pricing__personal {
    width: 100%;
    max-width: 500px;
  }

  .personal__sub-title {
    font-size: 24px;
    text-align: center;
  }

  .personal__title--2 {
    text-align: center;
    font-size: 20px;
  }

  .test {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .test__description {
    padding-left: 0;
  }

  .test__img--wrapper {
    width: 100%;
  }

  .test__description--sub-title {
    font-size: 16px;
  }

  .test__description--para {
    font-size: 16px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact__title {
    font-size: 24px;
  }
}
